<%= form_for(@edit_contact) do |f| %>
  <% if @edit_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@edit_contact.errors.count, "error") %> prohibited this edit_contact from being saved:</h2>

      <ul>
      <% @edit_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contact_num %><br>
    <%= f.text_field :contact_num %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
